.container {
  max-width: 800px;
  margin: auto;
  margin-top: 10em;
}

.input {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.field {
  margin-right: 2em;  
}

.search-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
}